:root, body {
	font-family: serif;
	background-color: white;
	color: black;
}

* {
	margin: 0;
}

h1 {
	text-align: center;
}

p:first-of-type {
	text-align: center;
}

p, ul {
	margin-bottom: 0.8em;
}

h2 {
	border-bottom: 1px solid black;
	margin-bottom: 0.5em;
}


#technical-skills+p {
	text-align: center;
}


